<mat-card>
  <div class="match-header">
    <div class="date">{{ match?.date }}</div>
    <div class="info" *ngIf="betCount > 0">
      {{betCount + ' ' + (betCount > 1 ? 'bets' : 'bet')}}
    </div>
  </div>

  <div class="content">
    <div class="teams">
      <div class="team">
        <img [src]="homeTeam?.logo_url"/>
        <span>{{homeTeam?.name}}</span>
      </div>
      <div class="team">
        <img [src]="awayTeam?.logo_url"/>
        <span>{{awayTeam?.name}}</span>
      </div>
    </div>

    <div class="options">
      <button mat-raised-button (click)="toggle(bet.HOME)" [color]="odd.selected === bet.HOME ? 'primary' : ''">Home {{odd.odds.home}}</button>
      <button mat-raised-button (click)="toggle(bet.DRAW)" [color]="odd.selected === bet.DRAW ? 'primary' : ''">Draw {{odd.odds.draw}}</button>
      <button mat-raised-button (click)="toggle(bet.AWAY)" [color]="odd.selected === bet.AWAY ? 'primary' : ''">Away {{odd.odds.away}}</button>
      <button mat-raised-button (click)="toggle(bet.OVER)" [color]="odd.selected === bet.OVER ? 'primary' : ''">Over {{odd.odds.over}}</button>
      <button mat-raised-button (click)="toggle(bet.UNDER)" [color]="odd.selected === bet.UNDER ? 'primary' : ''">Under {{odd.odds.under}}</button>
    </div>
  </div>
</mat-card>
