:host {
  mat-card {
    flex: 1 1 auto;
    padding-bottom: 10px;

    .date {
      flex: 0 0 auto;
      border-bottom: 1px solid #ccc;
      margin-bottom: 5px;
      padding-bottom: 5px;
    }

    .content {
      display: flex;
      margin-top: 10px;

      .teams {
        flex: 1 1 100px;
        display: flex;
        flex-direction: column;

        .team {
          flex: 1 1 auto;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;

          img {
            margin: 10px;
            box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
          }
        }
      }

      .options {
        flex: 1 1 auto;
        margin: 0 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        button {
          width: 100%;
          margin: 5px 0;
          max-width: 120px;
        }
      }
    }
  }
}
