:host {
  height: 100vh;
  display: flex;
  overflow: hidden;
  flex-direction: column;

  mat-toolbar {
    flex: 0 0 auto;
    color: #F5F5F5;
    height: 56px;
    z-index: 10;
    display: flex;
    align-items: center;
    background-color: #1E88E5;

    span {
      margin-right: 10px;
    }

    a {
      color: #F5F5F5 !important;
      line-height: 1;

      mat-icon {
        padding: 16px;
      }

      &:visited {
        color: #F5F5F5 !important;
      }

      &.active {
        background-color: #42A5F5;
      }

    }

    a:last-child {
      font-size: 14px;
      margin-left: auto;
    }
  }

  .loading {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #42A5F5;
  }

  router-outlet {
    flex: 1 1 auto;
  }
}
