<mat-card class="info">
  <span>Balance €{{ user?.balance }}</span>

  <mat-button-toggle-group #group="matButtonToggleGroup">
    <mat-button-toggle value="all">A</mat-button-toggle>
    <mat-button-toggle value="won">W</mat-button-toggle>
    <mat-button-toggle value="lost">L</mat-button-toggle>
    <mat-button-toggle value="pending">P</mat-button-toggle>
  </mat-button-toggle-group>
</mat-card>

<div class="slips">
  <mat-card *ngFor="let slip of user?.slips | slipFilter:group.value">
    <div class="amount">
      <span>Amount €{{ slip.amount }}</span>
      <span>Winnings €{{ slip.winnings }}</span>
      <span>status: {{ slip.status }}</span>
    </div>

    <ng-container *ngFor="let bet of slip.bets; let f = first">
      <mat-divider *ngIf="!f" inset></mat-divider>
      <go-bet [bet]="bet"></go-bet>
    </ng-container>
  </mat-card>
</div>
