:host {
  height: 100vh;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;

  mat-card.info {
    flex: 0 0 auto;
    display: flex;
    align-items: center;

    span {
      flex: 1 1 auto;
    }

    mat-button-toggle-group {
      flex: 0 0 auto;
      margin-left: 5px;
    }
  }

  .slips {
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    align-items: center;
    flex-direction: column;

    mat-card {
      flex: 0 0 auto;
      align-items: flex-start;
      flex-direction: column;

      .amount {
        width: 100%;
        display: flex;
        border-bottom: 1px solid #cccccc;
        margin-bottom: 10px;
        padding-bottom: 10px;
        justify-content: space-between;
      }

      mat-divider {
        margin: 5px 0;
      }
    }
  }
}
