<div class="info">
  <mat-card>
    <span>Balance €{{ user?.balance }}</span>

    <mat-button-toggle-group #group="matButtonToggleGroup">
      <mat-button-toggle checked value="all">A</mat-button-toggle>
      <mat-button-toggle value="won">W</mat-button-toggle>
      <mat-button-toggle value="lost">L</mat-button-toggle>
      <mat-button-toggle value="pending">P</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-card>
</div>

<div class="slips">
  <mat-card *ngFor="let slip of user?.slips | slip:group.value">
    <div class="amount">
      <span>Amount €{{ slip.amount }}</span>
      <span>Winnings €{{ slip.winnings }}</span>
      <span>status: {{ slip.status }}</span>
    </div>

    <go-bet *ngFor="let bet of slip.bets" [bet]="bet"></go-bet>
  </mat-card>
</div>
