/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body, go-root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  background-color: #42A5F5;
}

mat-card {
  width: calc(100% - 52px);
  margin: 10px auto;
  max-width: 500px;
}
