:host {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  span {
    flex: 0 1 auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
