:host {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .date {
    flex: 0 0 130px;
  }

  .teams {
    flex: 1 1 auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .bet {
    flex: 0 0 auto;
    margin-left: 5px;
  }
}
