<mat-card [ngClass]="{open: showSlip, show: betting.length}">
  <div class="content">
    <div class="info">
      <div>Selected {{betting.length}} games</div>
      <div>Potential win {{potential}}</div>
    </div>

    <div class="options">
      <mat-form-field>
        <input (ngModelChange)="amountChange()" [(ngModel)]="amount" matInput placeholder="Amount" type="number">
        <mat-hint *ngIf="amount <= 0">Please enter a valid amount</mat-hint>
      </mat-form-field>
      <div class="buttons">
        <button (click)="discard()" [disabled]="!potential || loading" color="secondary" mat-button>Clear</button>
        <button (click)="bet()" [disabled]="amount <= 0 || !potential || loading" color="primary" mat-raised-button>Bet
        </button>
      </div>
    </div>
  </div>

  <div (click)="showSlip = !showSlip" class="toggle">
    <mat-icon *ngIf="showSlip">keyboard_arrow_up</mat-icon>
    <mat-icon *ngIf="!showSlip">keyboard_arrow_down</mat-icon>
  </div>
</mat-card>

<div (scroll)="showSlip = false" [ngClass]="{slide: betting.length}" class="matches">
  <go-match *ngFor="let odd of odds" [odd]="odd"></go-match>
</div>

<div (click)="$event.stopPropagation()" *ngIf="loading" class="loading">
  <mat-spinner></mat-spinner>
</div>
