:host {
  height: 100vh;
  display: flex;
  overflow: hidden;
  flex-direction: column;

  .bet {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;

    mat-card {
      top: 0;
      width: calc(100% - 52px);
      display: flex;
      position: absolute;
      max-width: 500px;
      transform: translateY(-500px);
      transition: all 250ms ease-in-out;
      padding-bottom: 0;
      flex-direction: column;
      animation-fill-mode: both;

      &.show {
        transform: translateY(-87px);
        background-color: #FFCA28;

        &.open {
          transform: translateY(70px);
        }
      }

      .content {
        flex: 1 1 auto;
        margin: 10px 10px 0 10px;
        display: flex;
        max-width: 500px;
        align-items: center;

        .info {
          flex: 1 1 200px;
        }

        .options {
          flex: 1 1 auto;
          display: flex;
          margin-left: 10px;
          align-items: flex-end;
          flex-direction: column;

          mat-form-field {
            width: 180px;
          }

          .buttons {
            display: flex;

            button {
              margin-left: 10px;
            }
          }
        }
      }

      .toggle {
        flex: 0 0 auto;
        padding: 12px 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .matches {
    flex: 1 1 auto;
    overflow: auto;
    transition: all 250ms ease-in-out;

    &.slide {
      margin-top: 45px;
    }
  }
}
