<div class="matches" [ngClass]="{slide: betting.length}" (scroll)="showSlip = false">
  <go-match *ngFor="let odd of odds" [odd]="odd"></go-match>
</div>

<div class="bet">
  <mat-card [ngClass]="{open: showSlip, show: betting.length}">
    <div class="content">
      <div class="info">
        <div>Selected {{betting.length}} games</div>
        <div>Potential win {{potential}}</div>
      </div>

      <div class="options">
        <mat-form-field>
          <input matInput placeholder="Amount" type="number" [(ngModel)]="amount" (ngModelChange)="amountChange()">
        </mat-form-field>
        <div class="buttons">
          <button mat-button color="secondary" [disabled]="!potential" (click)="discard()">Clear</button>
          <button mat-raised-button color="primary" [disabled]="!potential" (click)="bet()">Bet</button>
        </div>
      </div>
    </div>

    <div class="toggle" (click)="showSlip = !showSlip">
      <mat-icon *ngIf="showSlip">keyboard_arrow_up</mat-icon>
      <mat-icon *ngIf="!showSlip">keyboard_arrow_down</mat-icon>
    </div>
  </mat-card>
</div>
